@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  
  html {
    @apply bg-background-light dark:bg-background-dark;
  }
}

/* Estilos de Material Symbols */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'GRAD' 0, 'opsz' 24;
}

